/* this code use to avoid anvanted padding margin of the web page */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
/* this code use to set the height ,width, background,of  */
.hero{  
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#000000,#14213d);
    position: relative;
}
/* this code use to creat a clock .container */
.container{
    width: 800px;
    height: 250px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
/* this .clock tag use for add the content decoration  */
}
.clock{
    width: 100%;
    height: 100%;
    color: aliceblue;
    border: 4px solid #fca311;
    background:linear-gradient(45deg,#7209b7,#3a0ca3);
    backdrop-filter: blue(40px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* this tag use for set the style of the numbers of clock */
.clock span{
    font-size: 90px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative; 
}
.clock span::after{
font-size: 16px;
position: absolute;
bottom: -20%;
left: 50%;
transform: translateX(-50%);
}
#h1::after{
    content:'HOURS';
}
#m1::after{
content: 'MINS';
}
#s1::after{
content: 'SEC';
}